*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    text-align: center;
}

#home{
    position: fixed;
    top: 0;
    left: 0;
    font-size: larger;
}

#home a{
    text-decoration: none;
}

#board{
    height: 60vw;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.space{
    border: 1px solid black;
    height: 20vw;
    width: 20vw;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}